@media(max-width:767px){
    .col-sm-12{
        float: left;
        border: 1px solid rgb(71, 247, 1);
        margin: 5px;
    }
    .container{
        min-width: 0px;
    }
}
@media(min-width:768px){
    .col-md-6,.col-md-12{
        float: left;
        border: 1px solid rgb(71, 247, 1);
        margin: 0.1px;
        height:auto;
        }
    .container{
        max-width:991px;
        width: 100%;
    }
    .col-md-6{
            margin-left:6px;
            width:49%;
        }
    .col-md-12{
            width: 98.8%;
            margin-left: 6px;
            margin-top: 5px;
    }
}
@media(min-width:992px){
    .col-lg-4{
        float: left;
        border: 1px solid rgb(71, 247, 1);
        margin:1px;
        width: 33%;
        height: 202px;
        }
    .container{
        max-width:2560px;
        width: 100%;
    }
}
.row{
    width:100%;
}
p{
    float:left;
    width:100%;
 
}


*{
    box-sizing: border-box;
}
.title{
    border-bottom: 1px solid rgb(71, 247, 1)k;
    border-left: 1px solid rgb(71, 247, 1);
    width:50px;
    float:right;
    color: rgb(166, 255, 0);
    background-color: rgb(21, 71, 19);
}
h1{text-align: center;font-family: Arial, Helvetica, sans-serif;color: springgreen;}
div > div > div{
    background-color: rgb(3, 78, 66);
}